@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background: rgb(248, 248, 248);
    line-height: 1;
}

body > div.title {
    width: 90%;
    height: 300px;
    padding: 20px 0;
    margin: 0 auto;
    text-align: left;
}

.title svg {
    width: 50%;
}

.title .maintitle {
    position: relative;
    margin: 80px 0 0 0;
    font-size: 40px;
    font-weight: 800;
}

.title .maintitle h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 800;
    transform: translateY(-2px);
}

.title p.subtitle {
    margin: 0;
    padding: 15px 0 0 0;

    font-size: 15px;
    font-weight: 800;
}

.missions {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    border-radius: 20px;
    background: #fff;
}

.missions > h1 {
    padding: 15px;
    margin: 0;
    font-size: 25px;
    font-weight: 800;
}

.missions details {
    display: none;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}

.missions details summary {
    position: relative;
    list-style: none;
}

.missions details summary h1{
    padding: 15px 0;
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    list-style: none;
}

.missions details summary h2{
    margin: 0;
    font-size: 10px;
    font-weight: 800;
    list-style: none;
}

.missions details summary svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(50%,-50%) rotate(0deg);
    width: 30px;
}

.missions details[open] summary svg {
    transform: translate(50%,-50%) rotate(180deg);
}

.missions details div {
    height: 0;
    transition: all .5s;
}

.missions details[open] div {
    height: auto;
}

.missions details div p {
    font-size: 0px;
    font-weight: 500;
    line-height: 1.5;
    transition: all .5s;
}

.missions details[open] div p {
    font-size: 12.5px;
}

.missions details div b {
    font-size: 0px;
    font-weight: 700;
    transition: all .5s;
}

.missions details[open] div b {
    font-size: 12.5px;
}

body > details {
    display: block;
    padding: 15px;
    margin: 20px auto;
    width: 90%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background: #fff;
    color: #000;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

body > details.call[open] {
    color: #ff0000;
}

body > details summary {
    position: relative;
    font-size: 15px;
    font-weight: 800;
    list-style: none;
}

body > details summary h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 900;
    line-height: 40px;
}

body > details summary svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(50%,-50%) rotate(0deg);
    width: 30px;
}

body > details[open] summary svg {
    transform: translate(50%,-50%) rotate(180deg);
}

body > details div {
    padding: 15px 0 0 0;
}

body > details div h1 {
    display: block;
    padding: 15px 0 0 0;
    margin: 0;
    color: #000;
    font-size: 20px;
}

body > details div p {
    display: block;
    color: #000;
    font-size: 12.5px;
    font-weight: 700;
    line-height: 1.5;
}

body > details div a {
    display: block;
    padding: 10px;
    color: #000;
    font-size: 12.5px;
    font-weight: 700;
}