@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background: rgb(248, 248, 248);
    line-height: 1;
}

body > div.title {
    width: 90%;
    height: 300px;
    margin: 0 auto;

    text-align: center;
    padding: 20px 0;
}

.title .maintitle {
    position: relative;
    margin: 80px 0 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

.title .maintitle h1 {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: 800;
    transform: translateY(-2px);
}

.title p.subtitle {
    margin: 0;
    padding: 15px 0 0 0;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 800;
}

.add-button {
    display: block;
    padding: 15px;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
    background: #fff;
    color: #141414;
    text-align: left;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
}