* {
    transition: .25s all;
}
/*
@media (prefers-color-scheme: dark) {

    body {
        background:  #141414;
        color: #fff;
    }

    .add-button {
        background: url("../images/icons/arrow-right-s-line-white.svg") no-repeat right 15px center, #1f1f1f;
        color: #fff;
    }

    body > div {
        background: url("../images/icons/arrow-right-s-line-white.svg") no-repeat right 15px center, #1f1f1f !important;
        color: #fff;
    }

    body > details {
        background: url("../images/icons/arrow-right-s-line-white.svg") no-repeat right 15px center, #1f1f1f;
        color: #fff !important;
    }
}
*/